services:
  api:
    container_name: api
    restart: always
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    volumes:
      - ../app:/app/app
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
        redis:
          condition: service_healthy
    networks:
      - syncstream-network

  redis:
    container_name: redis
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      # Named volume for data persistence
      - redis_data:/data
    networks:
      - syncstream-network
    # Ensures Redis saves data to disk frequently
    command: redis-server --appendonly yes
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

networks:
  syncstream-network:
    driver: bridge

volumes:
  redis_data: